.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 998;
  font-style: normal;
}
.header{
background-image: url(../assets/Hero-bg.png);
background-repeat: no-repeat;
background-size: cover;
}
.bannerheading{
  font-size: 48px;
  font-weight: 998;
  text-align: center;
  line-height: 68px;
}
.bannerdescription{
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
}
.bannerbutton{
  font-size: 20px;
  padding: 21px 24px;
  font-weight: 600;
  background-color: #0D1321;
  color: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 45px;
  margin-top: 10px;
}
.banner-content{
  justify-content: center;
  text-align: center;
}
.section-title{
  font-size: 32px;
  font-weight: 852;
  line-height: 37px;
  text-align: center;
  color: #0D1321;
}
.section-description{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #0D1321;
}
main{
  justify-content: center;
  text-align: center;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 100px;
}
.why{
  justify-content: center;
  text-align: center;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 96px;
}
.skill-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #0D1321;
}

.container {
  display: flex;
  max-width: 850px;
  margin: 0 auto;
  max-height: 240px;
}

.text-section {
  text-align: left;
  margin-right: 249px;
}
.skill-b{
  font-size: 20px;
  padding:  12px 20px ;
  font-weight: 600;
  background-color: #FFFFFF;
}

button:hover {
  background-color: #000000;
  color: #f9f9f9;
}

.image-section {
  width: 274px;
  height: 240px;
}

.containertwo {
  display: flex;
  max-width: 749px;
  margin: 0 auto;
  max-height: 240px;
}

.text-sectiontwo {
  text-align: left;
  margin-left: 32px;
}
.skill-btwo{
  font-size: 20px;
  padding:  12px 20px ;
  font-weight: 600;
  background-color: #ffffff;
}

.image-sectiontwo {
  width: 240px;
  height: 240px;
}
.descriptiontwo{
  text-align: left;
  margin: auto;
}
.one{
  margin-top: 104px;
}
.two{
  margin-top: 138px;
  margin-right: 146px;
}

  .three{
    margin-top: 149px;
  }
  .containerthree {
    display: flex;
    max-width: 850px;
    margin: 0 auto;
    max-height: 240px;
  }
  
  .text-sectionthree {
    text-align: left;
    margin-right: 280px;
  }
  .skill-b{
    font-size: 20px;
    padding:  12px 20px ;
    font-weight: 600;
    background-color: #FFFFFF;
  }
  .image-section {
    width: 274px;
    height: 240px;
  }
  .youtube-video{
  margin-top: 80px;
  }
  .skill1{
    margin-top: 88px;
    margin-right: 66px;
    background-color: #FDF2F0;
  }
  .skill2{
    margin-top: 88px;
    margin-right: 66px;
    background-color: EFF4FF;
  }
  .skill3{
    margin-top: 88px;
    background-color: #FCFAEB;
  }
  .skillcontainerfive{
    display: flex;
  }
  a{
    color: #0D1321;
  }